/*Reset*/

*{
 margin:0;
 padding: 0;
 box-sizing: border-box;
 /*border: 1px solid black;*/

}
.clear-fix{
 clear:both;
}
html, body {
 height: 100%;
}
body{
 margin:0 auto;
}
/* Base */



/* Layout */

header {
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 1;
  background-color: green;
}

.hamburger {
  display: block;
  width: auto;
  padding: 1em;
  color: black;
  font-size: 2em;
  text-align: right;
  z-index: 100;
}

.main{
  height: 100%;
}

/* Modules */

.navButton {
  display: none;
  padding: 1em;
}

/* State */

/* Theme */


/* Media Queries */

@media only screen and (min-width: 680px) {
  .hamburger{
    display: none;
  }
  .navButton {
    display: inline-block;
  }
}
