/* Base / Reset */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix{
  clear:both;
}

html, body {
  height: 100%;
}

body{
  margin:0 auto;
}

a{
  text-decoration: none;
  color: black;
}

/* Layout */

header {
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  z-index: 1;
  background-color: green;
}

.main{
  height: 100%;
}

/* Modules */

#hamburger {
  display: inline-block;
  width: 100%;
  padding: 1em;
  color: black;
  font-size: 2em;
  text-align: right;
  z-index: 100;
}

.navButton {
  font-size: 1em;
  display: none;
  padding: 1em;
  margin: 0 auto;
}

/* State */

.is-expanded {
  display: block;
  text-align: center;
}

/* Theme */


/* Media Queries */

@media only screen and (min-width: 680px) {
  #hamburger{
    display: none;
  }
  .navButton {
    display: inline-block;
  }
}
