*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid black;*/
}

.clear-fix{
  clear:both;
}

html, body {
  height: 100%;
}

body{
  margin:0 auto;
}

a{
  text-decoration: none;
  color: black;
}
