@-webkit-keyframes slideinright {
  from {
    -webkit-transform: translateX(200%);
  }
  to {
    -webkit-transform: translateX(15%);
  }
}

@-webkit-keyframes slideinleft {
  from {
    -webkit-transform: translateX(-200%);
  }
  to {
    -webkit-transform: translateX(75%);
  }
}

header{
  height: 10vh;
  width: 100%;
}

.my-name {
  display: inline-block;
  text-align: center;
  margin-left: 5%;
  padding: 3%;
  padding-bottom: 3%;
}

#hi {
  -webkit-animation-duration: 2s;
  -webkit-animation-name: slideinright;
  -webkit-transform: translateX(15%);
}

#me{
  width: 100%;
  overflow: hidden;
}

#hamburger {
  display: inline;
  margin-top: 3%;
  margin-left: 2%;
  text-align: right;
}

.navButton {
  display: none;
  padding: .2em;
  width: 80%;
}

#aboutmeButton{
  position: fixed;
  top: 40%;
  border: 2px solid red;
  height: 10%;
  text-align: center;
  padding-top: 6%;
  font-size: 1.8rem;
  -webkit-animation-duration: 3.2s;
  -webkit-animation-name: slideinright;
  -webkit-transform: translateX(15%);
}

#projectsButton{
  position: fixed;
  top: 55%;
  border: 2px solid green;
  height: 10%;
  text-align: center;
  padding-top: 6%;
  font-size: 1.8rem;
  -webkit-animation-duration: 2.7s;
  -webkit-animation-name: slideinleft;
  -webkit-transform: translateX(75%);
}

#homeButton{
  position: fixed;
  top: 70%;
  border: 2px solid blue;
  height: 10%;
  text-align: center;
  padding-top: 6%;
  font-size: 1.8rem;
  -webkit-animation-duration: 2.3s;
  -webkit-animation-name: slideinright;
  -webkit-transform: translateX(15%);
}
.project{
  padding: 5%;
}

.project .title-block a, h1{
  display: inline-block;
}

.title-block{
  padding-top: 1em;
}

.byline, p{
  padding: .5em;
}

@media only screen and (min-width: 680px) {
  #hamburger{
    display: none;
  }
  .navButton {
    display: inline-block;
  }
}
